# Byte-compiled / optimized / DLL files
__pycache__/

# Notebooks
*.ipynb

# Models
*.pt

# Images
*.png
*.jpg

# Virtual environments
venv/*.ipynb
*.jpg
*.png
*.mp4
*.hdf5
*.pt
*.pth
.ipynb_checkpoints
__pycache__
venv
.env
.pytest_cache
*.mp3
*.wav
